/*
font-family: 'Aldrich', sans-serif;
font-family: 'Coda', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Ultra', serif;
*/

body {
    margin: 0;
    text-align: center;
    background-color: #9D84B7;
    color: #371B58;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 20px;
}

h3 {
    font-family: 'Aldrich', sans-serif;
    margin: 0;
    padding: 20px;
}

p {
    font-family: 'Coda', cursive;
    margin: 0;
    padding: 20px;
}

hr {
    width: 50%;
    border: 5px solid #F15412;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #F15412;
    padding: 0;
    animation: glow 1.5s ease-in-out infinite;
    -webkit-animation: glow 1.5s ease-in-out infinite;
    margin: 30px auto;
    clear: both;
  }

  hr::before {
    content: '';
    position: absolute;
    border: 2px solid #222;
    width: 290px;
    margin: -2px -150px;
    border-radius: 2px;
    box-shadow: 0 0 3px black;
    animation: glowMinr 2s ease-in-out;
    -webkit-animation: glowMinor 2s ease-in-out infinite 
  }
  
  @keyframes glow {
    0%{box-shadow: 0 0 2px #F15412;}
    50%{box-shadow: 0 0 8px #F15412;}
    100%{box-shadow: 0 0 2px #F15412;}
  }
  
  @-webkit-keyframes glow {
    0%{box-shadow: 0 0 2px #F15412;}
    50%{box-shadow: 0 0 8px #F15412;}
    100%{box-shadow: 0 0 2px #F15412;}
  }
  
  @keyframes glowMinor {
    0%{box-shadow: 0 0 2px black;}
    50%{box-shadow: 0 0 8px black;}
    100%{box-shadow: 0 0 2px black;}
  }
  
  @-webkit-keyframes glowMinor {
    0%{box-shadow: 0 0 2px black;}
    50%{box-shadow: 0 0 8px black;}
    100%{box-shadow: 0 0 2px black;}
  }
  

.main-header {
    color: #FFE59D;
    margin: 0;
    padding: 2rem 0 1rem 0;
    font-size: min(5vmax, 100px);
    line-height: 2;
}

.main-header-subtitle {
    font-family: 'Press Start 2P', cursive;
    color: #FFE59D;
    font-size: min(2vmax, 50px);
    padding-top: 0;
}

.scroll-to-continue {
    font-family: 'Aldrich', sans-serif;
    color: #FFE59D;
    font-size: min(2vmax, 50px);
}

.top-container {
    background-color: #693C72;
    height: 100vh;
    position: relative;
}

.top-wallpaper {
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.about-me {
    width: 75%;
    margin: 100px auto;
    line-height: 2;
}

.experience {
    width: 75%;
    margin: 100px auto;
    line-height: 2;
}

.my-skills {
    width: 75%;
    margin: 100px auto;
    line-height: 2;
}

.my-hobbies {
    width: 75%;
    margin: 100px auto;
    line-height: 2;
}

.header {
    width: 75%;
    margin: 0 auto;
}

.header-icon {
    width: min(7.5vmax, 100px);
    float: left;
}

.header-text {
    font-size: min(2em, 2vmax);
}


.workplace-image {
    width: min(2vmax ,50px);
    vertical-align: middle;
}

.experience-header {
    display: inline;
}

.skills-level {
    float: right;
    color: #FBCB0A;
}

.skills-row {
    width: 75%;
    text-align: left;
    margin: 50px auto;
    line-height: 1;
    clear: left;
}

.skill-icon {
    width: min(7.5vmax, 150px);
    float: left;
    vertical-align: middle;
    margin: 20px 30px 50px 0;
}

.skill-item {
    margin: 0;
    padding: 5px;
}

.bottom-container {
    background-color: #3D087B;
    padding: 50px;
}

.footer-link {
    color: #FFE459;
    font-family: 'Coda', cursive;
    text-decoration: none;
    margin: 0 20px 0 20px;
    padding-bottom: 40px;
}

.footer-link:hover {
    color: #F43B86;
}

.copyright {
    color: #FFE459;
}